{% extends "includes/base.html" %}
{% block title %}Title{% endblock %}
{% block css %}{% endblock %}

{% block content %}
  <h1 class="mt-5 mb-5">
    {% if weak['score']['score_percentage'] == 0 %}⚪️{% elif weak['score']['score_percentage'] < 60 %}🔴{% elif weak['score']['score_percentage'] == 60 %}🟡{% else %}🟢{% endif %}{% if medium['score']['score_percentage'] == 0 %}⚪️{% elif medium['score']['score_percentage'] < 60 %}🔴{% elif medium['score']['score_percentage'] == 60 %}🟡{% else %}🟢{% endif %}{% if strong['score']['score_percentage'] == 0 %}⚪️{% elif strong['score']['score_percentage'] < 60 %}🔴{% elif strong['score']['score_percentage'] == 60 %}🟡{% else %}🟢{% endif %}
  </h1>
  <div id="row_weak" class="row d-flex align-items-center">
    <div class="col-3">
      <label for="weak" class="form-label">
        🔴 Mot de passe faible
      </label>
    </div>
    <div class="col-4">
      <input type="password"
             id="weak"
             name="weak"
             class="form-control"
             value="{{ weak['plain'] }}"
             disabled
      >
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="progress_weak"
             class="progress-bar bg-{% if weak['score']['score_percentage'] < 60 %}danger{% elif weak['score']['score_percentage'] == 60 %}warning{% else %}success{% endif %}"
             role="progressbar"
             style="width: {{ weak['score']['score_percentage'] }}%;">
          {{ weak["score"]["score_message"] }}
        </div>
      </div>
    </div>
    <div class="col-12 form-text">
      Un mot de passe faible est souvent court et simple, comme <code>123456</code> ou <code>motdepasse</code>, ce qui
      le rend facile à deviner ou à pirater.
    </div>
  </div>
  <hr/>
  <div id="row_medium" class="row d-flex align-items-center">
    <div class="col-3">
      <label for="medium" class="form-label">
        🟡 Mot de passe moyen
      </label>
    </div>
    <div class="col-4">
      <input type="password"
             id="medium"
             name="medium"
             class="form-control"
             value="{{ medium['plain'] }}"
             disabled
      >
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="progress_medium"
             class="progress-bar bg-{% if medium['score']['score_percentage'] < 60 %}danger{% elif medium['score']['score_percentage'] == 60 %}warning{% else %}success{% endif %}"
             role="progressbar"
             style="width: {{ medium['score']['score_percentage'] }}%;">
          {{ medium["score"]["score_message"] }}
        </div>
      </div>
    </div>
    <div class="col-12 form-text">
      Un mot de passe moyen combine des lettres et des chiffres, comme <code>vacances2025</code>, offrant une sécurité
      modérée.
    </div>
  </div>
  <hr/>
  <div id="row_strong" class="row d-flex align-items-center">
    <div class="col-3">
      <label for="strong" class="form-label">
        🟢 Mot de passe fort
      </label>
    </div>
    <div class="col-4">
      <input type="password"
             id="strong"
             name="strong"
             class="form-control"
             value="{{ strong['plain'] }}"
             disabled
      >
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="progress_strong"
             class="progress-bar bg-{% if strong['score']['score_percentage'] < 60 %}danger{% elif strong['score']['score_percentage'] == 60 %}warning{% else %}success{% endif %}"
             role="progressbar"
             style="width: {{ strong['score']['score_percentage'] }}%;">
          {{ strong["score"]["score_message"] }}
        </div>
      </div>
    </div>
    <div class="col-12 form-text">
      Un mot de passe fort est long et complexe, utilisant une combinaison de majuscules, minuscules, chiffres et
      symboles, comme <code>T7$fL9#pK2!qX5@m</code>, ce qui le rend très difficile à craquer.
    </div>
  </div>
{% endblock %}

{% block js %}{% endblock %}
