{% extends "includes/base.html" %}
{% block title %}Title{% endblock %}
{% block css %}{% endblock %}

{% block content %}
  <h1 class="mt-5 mb-5">
    🚥🔴🟡🟢
  </h1>
  <div id="row_weak" class="row d-flex align-items-center">
    <div class="col-3">
      <label for="weak" class="form-label">
        🔴 Mot de passe faible
      </label>
    </div>
    <div class="col-4">
      <input type="password"
             id="weak"
             name="weak"
             class="form-control"
             onchange="check_password(this)"
             oninput="this.onchange(this);"
      >
      <input type="hidden" id="time_weak" name="time_weak" value="...">
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="progress_weak" class="progress-bar bg-danger" role="progressbar" style="width: 0%;">
          En attente de mot de passe...
        </div>
      </div>
    </div>
    <div class="col-12 form-text">
      Un mot de passe faible est souvent court et simple, comme <code>123456</code> ou <code>motdepasse</code>, ce qui
      le rend facile à deviner ou à pirater.
    </div>
  </div>
  <hr/>
  <div id="row_medium" class="row d-flex align-items-center">
    <div class="col-3">
      <label for="medium" class="form-label">
        🟡 Mot de passe moyen
      </label>
    </div>
    <div class="col-4">
      <input type="password"
             id="medium"
             name="medium"
             class="form-control"
             onchange="check_password(this)"
             oninput="this.onchange(this);"
      >
      <input type="hidden" id="time_medium" name="time_medium" value="...">
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="progress_medium" class="progress-bar bg-danger" role="progressbar" style="width: 0%;">
          En attente de mot de passe...
        </div>
      </div>
    </div>
    <div class="col-12 form-text">
      Un mot de passe moyen combine des lettres et des chiffres, comme <code>vacances2025</code>, offrant une sécurité
      modérée.
    </div>
  </div>
  <hr/>
  <div id="row_strong" class="row d-flex align-items-center">
    <div class="col-3">
      <label for="strong" class="form-label">
        🟢 Mot de passe fort
      </label>
    </div>
    <div class="col-4">
      <input type="password"
             id="strong"
             name="strong"
             class="form-control"
             onchange="check_password(this)"
             oninput="this.onchange(this);"
      >
      <input type="hidden" id="time_strong" name="time_strong" value="...">
    </div>
    <div class="col-4">
      <div class="progress">
        <div id="progress_strong" class="progress-bar bg-danger" role="progressbar" style="width: 0%;">
          En attente de mot de passe...
        </div>
      </div>
    </div>
    <div class="col-12 form-text">
      Un mot de passe fort est long et complexe, utilisant une combinaison de majuscules, minuscules, chiffres et
      symboles, comme <code>T7$fL9#pK2!qX5@m</code>, ce qui le rend très difficile à craquer.
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/zxcvbn.js') }}"></script>
  <script>
      const scores = [
          "Risqué.",
          "Faible.",
          "Moyen.",
          "Fort.",
          "Excellent."
      ];

      function check_password(inpt) {
          /* console.log(inpt.id); */

          const cur_progress_bar = document.getElementById('progress_' + inpt.id);
          const cur_times = document.getElementById('time_' + inpt.id);

          if (inpt.value !== '') {
              const results = zxcvbn(inpt.value);
              console.log(results);

              const score_message = scores[results.score];
              const score_percentage = Number(100 * (1 + results.score) / 5);

              cur_progress_bar.className = results.score < 2 ? 'progress-bar bg-danger' : results.score === 2 ? 'progress-bar bg-warning' : 'progress-bar bg-success';
              cur_progress_bar.style.width = score_percentage + '%';
              cur_progress_bar.textContent = score_message;

              cur_times.value = JSON.stringify(results.crack_times_seconds);
          } else {
              cur_progress_bar.className = 'progress-bar bg-danger';
              cur_progress_bar.style.width = '0%';
              cur_progress_bar.textContent = 'En attente de mot de passe...';

              cur_times.value = '';
          }
      }
  </script>
{% endblock %}
