{% extends "includes/base.html" %}
{% block title %}Title{% endblock %}
{% block css %}{% endblock %}

{% block content %}
  <h1 class="mt-5 mb-5">
    {{ random_books() }}
  </h1>
  <figure class="">
    <img id="illu"
         src="{{ url_for('static', filename='img/illu/' ~ illu_pic) }}"
         class="figure-img img-fluid rounded"
         alt="Illustration"
    >
    <figcaption class="figure-caption">{{ "Source : " ~ illu_source|safe if illu_source else "" }}</figcaption>
  </figure>

{% endblock %}

{% block js %}{% endblock %}
