{% extends "includes/base.html" %}
{% block title %}Title{% endblock %}
{% block css %}{% endblock %}

{% block content %}
  <h1 class="mt-5 mb-5">
    ⏳💻⌛️
  </h1>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <input
              class="form-control form-control-lg mb-3"
              type="text"
              value="{{ weak_md5 }}"
              disabled
          >
        </div>
        <div class="col-2">
          <div id="spinner_weak" class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <input
              class="form-control form-control-lg mb-3"
              type="text"
              value="{{ medium_md5 }}"
              disabled
          >
        </div>
        <div class="col-2">
          <div id="spinner_medium" class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <input
              class="form-control form-control-lg mb-3"
              type="text"
              value="{{ strong_md5 }}"
              disabled
          >
        </div>
        <div class="col-2">
          <div id="spinner_strong" class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
{% endblock %}
{% block js %}
  <script>
      // Disable buttons
      const children = document.querySelector('#buttons').children;
      for (let i = 0; i < children.length; i++) {
          const button = children[i];
          button.textContent = "...";
          button.classList.add("disabled");
      }

      // Skip to results after 30s
      const form = document.querySelector('input');

      window.setTimeout(function () {
          form.form.submit();
      }, 30000);
  </script>
{% endblock %}
