:root {
    --chara-width: 24vw;
    --chara-width-half: 12vw;
}

.image-container {
    position: fixed;
    bottom: 0;
    left: 1vw;
}

.buttons-fixed {
    position: fixed;
    bottom: 0;
}

.image-container img {
    /*height: var(--chara-width);*/
    /*max-width: auto;*/
    width: var(--chara-width);
}

.speech {
    position: absolute;
    transform-origin: 0% 100%;
    text-align: center;
    background-color: #008DD4;
    color: white;
    border-radius: 10px;
    /*width: 256px;*/
    padding: 10px;
    left: 1vw;
    right: 1vw;
    /*bottom: var(--chara-width);*/
    transform: scale(0);
    animation-fill-mode: forwards;
}

.speech-last::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -25px;
    left: var(--chara-width-half);
    border-style: solid;
    border-width: 15px;
    border-color: #008DD4 transparent transparent #008DD4;
    transform: rotate(10deg);
}

@keyframes expand-bounce {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

#actual-content {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
